# Django SECRET KEY
SECRET_KEY='ovde_unesi_tvoj_django_secret_key'

# MAILGUN API KEY and DOMAIN
MAILGUN_API_KEY=ovde_unesi_tvoj_mailgun_api_key
MAILGUN_DOMAIN='ovde_unesi_tvoj_mailgun_domain'

# DATABASE configuration
DB_NAME='ovde_unesi_ime_tvoje_baze'
DB_USER='ovde_unesi_tvoj_username'
DB_PASSWORD='ovde_unesi_tvoj_password'
DB_HOST='ovde_unesi_tvoj_db_host'
DB_PORT='ovde_unesi_tvoj_db_port'
