{% extends 'base.html' %}
{% load static %}

{% block title %}Promenite lozinku | Mila salon{% endblock %}

{% block content %}

    <section class="main-container">

        <div class="main-box">

            <h2>Promenite lozinku</h2>

            <form method="post" action="{% url 'password_change' %}" novalidate>

                {% csrf_token %}

                {% for field in form %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <p class="form-error">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endfor %}

                <button type="submit" class="btn-submit">Promeni</button>

            </form>

            <p class="redirection-link" ><a href="{% url 'profile_edit' %}">Odustani</a></p>

        </div>

    </section>

{% endblock %}